@font-face {
    font-family: "Kingthings Foundation";
    src: url(../fonts/Kingthings-Foundation.ttf);
}
@font-face {
    font-family: "VT323";
    src: url(../fonts/VT323.ttf);
}
@font-face {
    font-family: "rajdhani";
    src: url(../fonts/rajdhani.ttf);
}
main{
    max-width: 900px;
}
.bigabold{
    font-size: 300%;
}
header{
    padding: 10px;
    font-family: "Kingthings Foundation";
}
a {
    font-family: "rajdhani";
}
body{
    cursor: url(../images/cursor.svg), default;
    font-family: VT323;
}
.center {
    width: 100%;
    text-align: center;
}
nav{
    margin-bottom: 15px;
}
nav a{
    font-size: 1.2rem;
    padding: 0.8rem;
    text-decoration: none;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
    z-index: 0;
}

@media (max-width:1600px) {
    body {
	font-size: 90%;
	padding: 1%;
    }
}
