@font-face {
    font-family: "Kingthings Foundation";
    src: url(../fonts/Kingthings-Foundation.ttf);
}
table {
    border-collapse: collapse;
    font-size: 0.9em;
}
table th{
    background-color: purple;
    color: white;
}
tr, th, td{
    border: 1px solid black;
    padding: 0.3em;
}
blockquote {
    font-style: italic;
}
body{
    max-width: 900px;
    margin: auto;
    /*border: 1px solid white;*/
    padding: 10px;
}
.bigabold{
    font-size: 300%;
}
.grunge{
    max-width: 170px;
    border-radius: 5px;
}
header{
    padding: 10px;
    font-family: "Kingthings Foundation";
}
header span{
    color: rgb(255, 113, 255);
}
a:hover {
    font-style: italic;
}
aside{
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: fit-content;
    max-width: 350px;
    text-align: center;
}
article {
    width: fit-content;
    text-align: center;
    padding: 0.5em;
}
hr{
    color: white;
}
#back{
    max-width: 900px;
    max-height: 200px;
}
#cwh{
    color: rgb(216 180 254);
    text-shadow: 2px 2px rgb(216 180 254);
}
.center{
    width: 100%;
    text-align: center;
}
nav{
    margin-bottom: 15px;
}
nav a{
    font-size: 17px;
    padding: 5px;
    text-decoration: none;
}
@media (max-width:1600px)  {
    body {
        font-size: 90%;
        padding: 1%;
    }
    aside {
        display: none;
    }
}
