@font-face {
    font-family: "Kingthings Foundation";
    src: url(../fonts/Kingthings-Foundation.ttf);
}

body{
    max-width: 900px;
    margin: auto;
    /*border: 1px solid white;*/
    padding: 10px;
}
.bigabold{
    font-size: 300%;
}
.grunge{
    max-width: 170px;
    border-radius: 5px;
}
header{
    padding: 10px;
    font-family: "Kingthings Foundation";
}
header span{
    color: rgb(255, 113, 255);
}
a:hover {
    font-style: italic;
}
aside{
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: fit-content;
    max-width: 350px;
    text-align: center;
}
hr{
    color: white;
}
#back{
    max-width: 900px;
    max-height: 200px;
}
.center{
	width: 100%;
	text-align: center;
}
nav{
    margin-bottom: 10px;
}
nav a{
    padding: 5px;
    text-decoration: none;
}
@media (max-width:1600px)  {
    body {
        font-size: 90%;
        padding: 1%;
    }
    aside {
        display: none;
    }
}
