<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" conten="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% if page.title %}
  <title>{{ page.title }}</title>
  {% else %}
  <title>Welcome to my site</title>
  {% endif %}
  <link href="/css/style.css" rel="stylesheet"/>
  <link rel="icon" type="image/png" href="/images/favicon.ico">
</head>
<body>
  <header class="center"><div class="bigabold">Jai Shree <span>Krishna</span></div></header>
  <nav class="center">
    <a href="/">Home</a>|
    <a href="/blog">Blog</a>|
    <a href="/about">About</a>|
    <a href="/contact">Contact</a>|
    <a href="/lists">Lists</a>
  </nav>
  <hr>
  <main>
    {% block content %} {% endblock %}
  </main>
  <aside>
    <section>
      <img class="grunge" src="/images/avatar.jpg">
      <img class="grunge" src="/images/favicon.ico"></section>
    <blockquote>
          ❝ The most precious thing we have is time. ❞
        </blockquote>
  </aside>
  <hr>
  
  <div class="center">
      <a href="https://landchad.net" target="_blank"><img src="/images/link-buttons/landchad.gif" target="_blank" alt="landchad.net"></a>
      <a href="https://sadgrl.online/" target="_blank"><img src="/images/link-buttons/sadgrl.gif" alt="sadgrl.online"></a>
      <a href="https://wiby.me" target="_blank"><img src="/images/link-buttons/wiby.gif" alt="wiby.me"></a> 
      <a href="https://nuange.neocities.org/" target="_blank"><img src="/images/link-buttons/nuange.gif" alt="nuange.neocities.org"></a>
  </div>
  <footer>  Thanks for coming to my boring website. I'm trying to make it better.</footer>
</body>
</html>

