<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% if page.title %}
  <title>{{ page.title }}</title>
  {% else %}
  <title>Welcome to my site</title>
  {% endif %}
  <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/lists">Lists</a>
  </nav>
  <hr>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
  <hr>
  <div class="center">
      <a href="https://sadgrl.online/" target="_blank"><img src="/images/link-buttons/sadgrl.gif" alt="sadgrl.online"></a>
      <a href="https://wiby.me" target="_blank"><img src="/images/link-buttons/wiby.gif" alt="wiby.me"></a> 
      <a href="https://nuange.neocities.org/" target="_blank"><img src="/images/link-buttons/nuange.gif" alt="nuange.neocities.org"></a>
  </div>
  <footer>  Thanks for coming to my boring website. I'm trying to make it better.</footer>
</body>
</html>

