<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="PingalPie's homeplace">
  <meta author="PingalPie">
  <title>ImageMagic</title>
  <link href="/css/imagemagic.css" rel="stylesheet"/>
  <script src="/js/imagemagic.js"></script>
  <link rel="icon" type="image/png" href="/images/favicon.ico">
</head>
<body>
  <div id=nav>
    <a class="magicword" data-value="Home" href="/">Home</a>
    <a class="magicword" data-value="Projects" href="/projects">Projects</a>
    <a class="magicword" data-value="Contact" href="/contact">Contact</a>
    <p id="help">Please move your mouse to see the page</p>
  </div>
  <main>
		<img class="image" data-index="0" data-status="inactive" src="https://w.wallhaven.cc/full/ex/wallhaven-exrqrr.jpg" />
		<img class="image" data-index="1" data-status="inactive" src="https://w.wallhaven.cc/full/rd/wallhaven-rdk971.jpg" />
		<img class="image" data-index="2" data-status="inactive" src="https://w.wallhaven.cc/full/r7/wallhaven-r7ymqq.png" />
		<img class="image" data-index="3" data-status="inactive" src="https://w.wallhaven.cc/full/l8/wallhaven-l8v3ey.png" />
		<img class="image" data-index="4" data-status="inactive" src="https://w.wallhaven.cc/full/g7/wallhaven-g7652e.png" />
		<img class="image" data-index="5" data-status="inactive" src="https://w.wallhaven.cc/full/85/wallhaven-8586my.png" />
		<img class="image" data-index="6" data-status="inactive" src="https://w.wallhaven.cc/full/we/wallhaven-we3ekx.jpg" />
		<img class="image" data-index="7" data-status="inactive" src="https://w.wallhaven.cc/full/g8/wallhaven-g8eyee.jpg" />
		<img class="image" data-index="8" data-status="inactive" src="https://w.wallhaven.cc/full/3k/wallhaven-3kgrg6.jpg" />
		<img class="image" data-index="9" data-status="inactive" src="https://w.wallhaven.cc/full/57/wallhaven-57zxk3.png" />
  </main>
  <div id="warning">
    <span>
      Sorry unable to show data becuase it seems that you are not using appropiate device.<br>
      please use a laptop or computer of some sort.<br>
      if issue persists then raise the issue on <a href="https://github.com/pingalpie/website/issues">Issues</a>
    </span>
  </div>
</body>
</html>
