<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="PingalPie's homeplace">
  <meta author="PingalPie">
  <title>ImageMagic</title>
  <link href="/css/imagemagic.css" rel="stylesheet"/>
  <script src="/js/imagemagic.js"></script>
  <link rel="icon" type="image/png" href="/images/favicon.ico">
</head>
<body>
  <div id=nav>
    <a class="magicword" data-value="Home" href="/">Home</a>
    <a class="magicword" data-value="Projects" href="/projects">Projects</a>
    <a class="magicword" data-value="Contact" href="/contact">Contact</a>
    <p id="help">Please move your mouse to see the page</p>
  </div>
  <main>
		<img class="image" data-index="0" data-status="inactive" src="/images/grunge/0.jpg" />
		<img class="image" data-index="1" data-status="inactive" src="/images/grunge/1.jpg" />
		<img class="image" data-index="2" data-status="inactive" src="/images/grunge/2.jpg" />
		<img class="image" data-index="3" data-status="inactive" src="/images/grunge/3.jpg" />
		<img class="image" data-index="4" data-status="inactive" src="/images/grunge/4.jpg" />
		<img class="image" data-index="5" data-status="inactive" src="/images/grunge/5.jpg" />
		<img class="image" data-index="6" data-status="inactive" src="/images/grunge/6.jpg" />
		<img class="image" data-index="7" data-status="inactive" src="/images/grunge/7.jpg" />
		<img class="image" data-index="8" data-status="inactive" src="/images/grunge/8.jpg" />
		<img class="image" data-index="9" data-status="inactive" src="/images/grunge/9.jpg" />
  </main>
  <div id="warning">
    <span>
      Sorry unable to show data becuase it seems that you are not using appropiate device.<br>
      please use a laptop or computer of some sort.<br>
      if issue persists then raise the issue on <a href="https://github.com/pingalpie/website/issues">Issues</a>
    </span>
  </div>
</body>
</html>
