{% extends "base.html" %}

{% block head %}
<meta name="description" content="Hey, this is PingalPie's homeplace">
{% endblock head %}

{% block content %}
<h1 class="center">
	Welcome, web traveler
</h1>
<h2 class="sub-heading center">
  Hello and welcome to my website! ♥
</h2>
<p>
  Hi there, I am a young aspiring problem solver with tendency to get side tracked by maths, science, computer science, and GNU/Linux.
</p>
<p>
  Those who know me irl, I know that I speak less because of fundamental philosophy I follow that goes "the fruits of my actions will bear the words of my speech"
</p>
<p>contact me at: pingalpie00 [at] gmail [dot] com</p>
{% endblock content %}
