{% extends "base.html" %}

{% block content %}
<h1 class="title">
	Welcome, web traveler
</h1>
<p class="center">
Hello and welcome to my website! ♥
</p>
<p>
Hello friend, welcome to my corner of the internet. I am PingalPie, I am a guy from India, who loves computer and softwares. I code in python, c.
</p>
<article>
  <table>
    <tr>
      <th>Question</th>
      <th>Answer</th>
    </tr>
    <tr>
      <td>Movies?</td>
      <td>The Social Network</td>
    </tr>
    <tr>
      <td>Tv Shows?</td>
      <td>Mr. Robot, Silicon Valley</td>
    </tr>
    <tr>
      <td>Games?</td>
      <td>Counter Strike</td>
    </tr>
    <tr>
      <td>Anime?</td>
      <td>Classroom of the elite, Spy X Family</td>
    </tr>
    <tr>
      <td>Sport?</td>
      <td>Chess, Badminton</td>
    </tr>
  </table>
</article>
<article>
  <h4>Website Guide</h4>
  <ul>
    <li><a href="/blog/atom.xml">Atom Feed</a> for my blogs.</li>
    <li>If you find this website ugly - <a href="http://motherfuckingwebsite.com">It's minimal</a>.</li>
    <li>This website was started on 13-Sep-2021.</li>
  </ul>
</article>
{% endblock content %}

