{% extends "base.html" %}

{% block content %}
<h1 class="title">
	Welcome, web traveler
</h1>
<p class="center">
Hello and welcome to my website! ♥
</p>
<p>
Hello friend, welcome to my corner of the internet. I am PingalPie, I am a guy from India, who loves computer and softwares. I code in python, c.
</p>
<section id="tableCenter">
  <table>
    <tr>
      <th>Question</th>
      <th>Answer</th>
    </tr>
    <tr>
      <td>Movies?</td>
      <td>The Social Network</td>
    </tr>
    <tr>
      <td>Tv Shows?</td>
      <td>Mr. Robot, Silicon Valley</td>
    </tr>
    <tr>
      <td>Games?</td>
      <td>Counter Strike</td>
    </tr>
    <tr>
      <td>Anime?</td>
      <td>Classroom of the elite, Spy X Family</td>
    </tr>
    <tr>
      <td>Sport?</td>
      <td>Chess, Badminton</td>
    </tr>
  </table>
</section>
{% endblock content %}

