{% extends "base.html" %}

{% block content %}

<h2>Here are some quotes I saw online</h2>
<p>I wanted to preserve these, so that I could come back later</p>

<ol>
  <li>
    Beautiful women are everywhere, yet there are only few successfull men.
    Always remember "You" are the PRIZE.
  </li>
  <li>
    No matter what has been dealt to you in the past,
    don't let it destroy your future.
    <br>
    - Nelson Mandela
  </li>
  <li>
    Imagination is more important than knowledge
    <br>
    - Sir Albert Einstein
  </li>
  <li>
    A ship is safe in the harbour, but that's not what ships are built for.
    <br>
    - John A. Shedd
  </li>
  <li>
    Stopping worst habit will change life way faster than starting best habit.
    Fix the leak before filling the bucket
  </li>
  <li>
    Some people free their time to talk to you and some people talk to you in their free time, there is a difference.
  </li>
  <li>
    Death is more certain than marriage, make sure to work more on your soul mate than soulmate.
  </li>
  <li>
    Find a way, if not, make the way. Pick up the shovel
    <br/>
    - Raftaar
  </li>
  <li>
    How can I blame the wind for messing my things if it was me who opened the window.
  </li>
  <li>
    Learn what is right not who is right.
  </li>
  <li>
    <p id="current-time"></p> is the youngest you will ever be.
  </li>
</ol>

{% endblock content %}
